<!doctype html>
<html lang="en">
  <head>
  	<title>Login 10</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="stylesheets/style1.css">

	</head>
	<body class="img js-fullheight" style="background-image: url(images/bg.jpg);">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">SignUp #10</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<h3 class="mb-4 text-center">Create an account</h3>
		      	<form id="submit-form" onsubmit="return addAllUsers()" action="/signup" method="POST" enctype="multipart/form-data" class="signin-form">
		      		<div class="form-group">
		      			<input id="name" type="text" name="name" class="form-control" placeholder="Username" required >
						<p id="error1" style="color: red;"></p>  
		      		</div> 
					   <div class="form-group">
		      			<input id="email" type="email" name="email" class="form-control" placeholder="Email" required >
						<p id="error2" style="color: red;"></p>  
					  </div>
				</div>
                <div class="form-group">
		      			<input id="phone" type="text" name="phone" class="form-control" placeholder="Phone Number" required >
						<p id="error3" style="color: red;"></p>  
					  </div>
					  
	            <div class="form-group">
	              <input id="password" name="password" type="password" class="form-control" placeholder="Password" required>
	            	<p id="error4" style="color: red;"></p>  
				</div>
                 <div class="form-group">
	            	<button type="submit"   class="form-control btn btn-primary submit px-3">Sign Up</button>
	            </div>
	           
	          </form>
			 
	         <a href="/"><p class="w-100 text-center">&mdash; Or Login&mdash;</p></a> 
	          
		      </div>
				</div>
			</div>
		</div>
	</section>
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
   

	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

 
 <script>
     let nameChecking = false;
    let emailChecking = false;
    let numberChecking = false;
    let passwordChecking = false;
    $(document).ready(function(){

        $("#name").on('input',function(){
            this.value=this.value.replace(/[^A-Za-z-,.;'&/.() ]|^ /g,'')
            let name = this.value
            let nameregex = /^[A-Za-z]+$/
            if(name.match(nameregex)&&name.length<3){
                $("#error1").html("enter minimum 3 charaters");
                nameChecking = false;
            }
            else if(name.includes("  ")){
                $("#error1").html("invalid ");
                nameChecking = false;
            }
        else if(name.match(nameregex)){
            $("#error1").html("");
            nameChecking = true;
        }
            
        })
    
    
        
            $("#email").keyup(function(){
            let email = this.value
            let emailregex = /^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/;
            
            if(email.match(emailregex)){
                $("#error2").html("")
                emailChecking = true;
            }
            else{
                $("#error2").html("enter a valid email")
                emailChecking = false;
            }
        })
    
        
            $("#phone").on("input",function(){
            this.value=this.value.replace(/[^\d]/,'') 
            let phone = this.value
            let phoneregex = /^[0-9]*$/
            if(phone==""){
                $("#error3").html("enter 10 numbers")
                numberChecking = false;
            }
            else if(phone.match(/^[A-Za-z]+$/)) {
                $("#error3").html("enter numbers only")
                numberChecking = false;
            }
            else if(phone.match(phoneregex)&&phone.length<10){
                $("#error3").html("enter 10 numbers")
                return false;
            }
            else if(phone.match(phoneregex)&&phone.length>10){
                $("#error3").html("enter a valid number")
                numberChecking = false
            }
            else if(phone.match(phoneregex)){
                numberChecking=true
                $("#error3").html("")
                return true
            }
            else{
                return false;
            }
            
        })
    
    
            $("#password").on("input",function(){
                let password = this.value
                if(password==""){
                    $("#error4").html("enter a password")
                }else{
                    $('#error4').html("")
                    passwordChecking = true;
                }
            })
        
	})
    
	function addAllUsers(){
		 console.log(nameChecking,emailChecking,numberChecking )

	if(nameChecking&&emailChecking&&numberChecking){
		return true
	}else{
		return false
	}
		
		
		
	}
    
    </script> 
	</body>
</html>

